/**
 * Place your custom styles here.
 */
 body{
  /*background:url(../images/back.png);*/
 }
.hilight{
  background-color: #FEEA88;
}
.whole{
 background-color: #eeeeee;
}
.second{
  background-color: white;

}
.cat{
  background-color: #f2f2f2;
  float: left;
  padding: 10px 10px 10px 10px;
}
.deals{
  float: right;
  margin-right: 10px;
  padding: 10px 40px 10px 10px;
}
.deals a{
  margin-left: 10px;
  color: black;
  text-decoration:none;
}
.deals a:hover{
  color: orange;

}
.cat a{
  margin-left: 20px;
  color: black;
  text-decoration: none;
}
.product-list {
  margin-top: 10px;

}
.product-list a{
  color: black;
}
.product-list a:hover{
  text-decoration: none;
  color: red;
}
.ali a{
  float: left;
  font-family: monospace;
  color: #ff9500;
  font-size: 30px;
  text-decoration: none;
}
.exp a{
  float: left;
  font-family: monospace;
  text-decoration: none;
  color: #f10000;
  font-size: 30px;
}
.ali&axp{
  overflow: hidden;
}
.logo-slogan{
  margin-left: 20px;
  float: left;
  color: gray;
  font-size: 10px;
}
.btn-primary{
  color:white;
  background-color: #e02d04;
}
.btn-primary:hover{
 background-color: #e02d04;
 color: black;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding: 10px;
}
#header{
  padding: 10px 40px 10px 10px;
  background-color: #f8f8f8;
}
#header li{
  float: left;
  display: inline;
}
#header li a{
  color: black;
  display: inline;
}
#header li a:hover{
  color: orange;
  background-color: unset;
}
.back{
  background-color: #eeeeee;
}
#toopbar{
 padding: 10px 40px 10px 10px;
  background-color: #f2f2f2;
  border-bottom: solid;
}
#toopbar li{
  float: right;
  display: inline
}
#toopbar li a{
  display: inline;
  color: gray;
}
#toopbar li a:hover{
  color: #cc0000;
}
#sidebar-first .caret{
  transform: rotate(-90deg);
}
.overflow{
  overflow: hidden;
}
.lfloat{
  float: left;
}
.rfloat{
  float: right;
}
.footericon{
  font-size: 70px;
  color: #5a7ea8;
  margin-left: 10%;
}
.footertext{
  text-align: left;
}
.footerfull{
  margin-right: 50px;
  color: gray;
}
.footer_2nd{
  margin-top: 40px;
}
.footer_2nd li a{
  color: gray;
  margin-top: -5px;
  margin-bottom: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer_2nd li a:hover{
  background-color: transparent;
  text-decoration: underline;
}
.sm_lnk{
  text-decoration: none;
}
.sm{
  font-size: 40px;
}
.fb{
 color: #334678;
}
.tw{
 color: #00a6ff;
}
.ig{
 color: #ee4678;
}
#edit-submit--3 {
  color: white;
  background-color: #f81d00;
  margin-top:-167px;
  margin-left: 200px;
}
.smb .block-title{
  font-size: 20px;
}
.footer_3rd{
  overflow: hidden;
  padding-left: 5%;
  background-color: #e8e8e8;
}
.footer_3rd ul li{
  display: inline-block;
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}
.footer_3rd ul li a{
  color: gray;
  padding: 0px;
  margin: 0px;
}
.footer_3rd ul li a:hover{
  background: transparent;
  color: orange;
}
#block-menu-menu-help , #block-menu-menu-aliexpress-multi-language-s , #block-menu-menu-browse-by-category{
  float: left;
  margin-right: 10%;
}
#block-menu-menu-help h2 , #block-menu-menu-aliexpress-multi-language-s h2 , #block-menu-menu-browse-by-category h2{
  font-size: 16px;
  margin-bottom: 5px;
}
#block-tb-megamenu-user-menu{
  background: white;
  float: right;
}
#block-search-form{
  padding-right: 500px;
  width: 300px;
  padding-top: 10px;
}
#edit-search-block-form--2{
  margin-right: 200px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #e3f2fd;
  color: black;
}


#block-tb-megamenu-menu-left-side-bar li a{
  color: gray;
  border:none;
  background: transparent;
}
#block-tb-megamenu-menu-left-side-bar ul{
  background: white;
}
#block-tb-megamenu-menu-left-side-bar li a:hover{
  color: #cc0000;
  width: 100%;
  background-color: transparent;
}
#block-tb-megamenu-menu-left-side-bar .mega-dropdown-menu{
  top: 0%;
  left: 120%;
}
#block-tb-megamenu-menu-left-side-bar .mega-dropdown-menu .mega-group-title{
  border-bottom: 1px solid #e8e8e8 ;
}
#block-tb-megamenu-menu-left-side-bar .mega-dropdown-menu ul a:hover{
  color:#fe6600;
}
.tech_slider{
  margin-bottom: 30px;
  height:
}
.tech_slider img {
  height: 200px;
  width: 200px;
}


/*#sidebar-first ul li:hover{
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  mega-dropdown-inner
  tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child
}*/
/*#sidebar-first li a:hover{
  color: #cc0000;
  background-color: transparent;
}*/


/*#block-user-login{
  display: none;
  background-color: black;
}
#show_li:hover ~ #block-user-login {
  display: block;
  color: blue;
  background: white;
}*/

